<html>
<head>
<title>Form test</title>
</head>

<body>
<h1>乗換案内</h1><hr>
<form action="{% url 'appmain' %}" method="GET">
    {% csrf_token %}
    出発駅:<select name="eki1" required>
      <option value="">選択してください</option>
      <option value="A1">A1</option>
      <option value="A2">A2</option>
      <option value="A3">A3</option>
      <option value="A4">A4</option>
      <option value="A5">A5</option>
      <option value="A6">A6</option>
      <option value="A7">A7</option>
      <option value="A8">A8</option>
      <option value="A9">A9</option>
      <option value="A10">A10</option>
      <option value="A11">A11</option>
      <option value="A12">A12</option>
      <option value="A13">A13</option>
      <option value="B1">B1</option>
      <option value="B2">B2</option>
      <option value="B3">B3</option>
      <option value="B4">B4</option>
      <option value="B5">B5</option>
      </select>
    到着駅:<select name="eki2" required>
      <option value="">選択してください</option>
      <option value="A1">A1</option>
      <option value="A2">A2</option>
      <option value="A3">A3</option>
      <option value="A4">A4</option>
      <option value="A5">A5</option>
      <option value="A6">A6</option>
      <option value="A7">A7</option>
      <option value="A8">A8</option>
      <option value="A9">A9</option>
      <option value="A10">A10</option>
      <option value="A11">A11</option>
      <option value="A12">A12</option>
      <option value="A13">A13</option>
      <option value="B1">B1</option>
      <option value="B2">B2</option>
      <option value="B3">B3</option>
      <option value="B4">B4</option>
      <option value="B5">B5</option>
      </select>
      <div><select name="flag" required>
        <option value="">選択</option>
        <option value=1>出発</option>
        <option value=-1>到着</option>
      </select>
      時刻:<input type="text" name="time1" size = "3" required id="id_t" />時<input type="text" name="time2" size = "3" required id="id_t" />分
      <input type="submit" value="検索">
      </div>
      
</form>
<div>{{t0}}</div>
<div>{{t1}}</div>
<div>{{t2}}</div>
<div>{{t3}}</div>
<div>{{t4}}</div>
<div>{{t5}}</div>
<div>{{t6}}</div>
<div>{{t7}}</div>
<div>{{t8}}</div>
<div>{{t9}}</div>
<div>{{t10}}</div>
<div>{{t11}}</div>
</body>
</html>
